.jumbotronportada {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(../res/img/doctor-medical-medicine-health.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.bienvenido {
  height: 15px;
  font-size: 15px;
}
/*input[type="text"] {
  width: 50px;
}*/
